<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 上面是头部命名空间 -->
<mapper namespace="com.litecase.boot.web.mapper.UserMapper"> <!--对应的mapper类的包路径-->
    <resultMap id="baseResultMap" type="com.litecase.boot.web.model.entity.User"> <!--返回查询结果对应的实体类-->
        <id column="user_Id" property="userId"/> <!--这里的id代表主键-->
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="phone_number" property="phoneNumber"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="identity_number" property="identityNumber"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_Id
        , username, nickname, gender, age, avatar,
        phone_number, email, identity_number, status, create_time,
        update_time, created_by, updated_by
    </sql>
    <select id="selectAll" resultMap="baseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user;
    </select>

    <select id="findByUsername" resultMap="baseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM user
        WHERE username = #{username}
    </select>

    <insert id="addUser">
        INSERT INTO user (id, username, gender, age)
        VALUES (#{User.username}, #{User.gender}, #{User.age})
    </insert>
    <select id="selectByUserId" resultMap="baseResultMap"
            parameterType="java.lang.Integer"> <!--传参是对象的话parameterType就写那个对象的路径,这边是int的type-->
        select user_id,
        username,
        -- name是变量
        <!--        <if test="name == 'Lantz'">-->
        <!--            -->
        <!--        </if>-->
        from user
    </select>
    <select id="getUsers" resultType="com.litecase.boot.web.model.entity.User">
        select *
        from user
    </select>
    <select id="getUserById" resultType="com.litecase.boot.web.model.entity.User">
        select *
        from user t
        where t.id = #{id}
    </select>
    <select id="findUserById" resultType="com.litecase.boot.web.model.entity.User">
        SELECT *
        FROM user t
        WHERE t.id = #{id}
    </select>
    <update id="updateUserById">
        UPDATE user
        SET username = #{username}
        WHERE id = #{id}
    </update>
    <delete id="deleteUserById">
        DELETE
        FROM user
        WHERE id = #{id}
    </delete>
</mapper>